<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Welcome, Admin!</h1>

    <ul>
        <li><a href="{{ url_for('manage_patients') }}">Manage Patients</a></li>
        <li><a href="{{ url_for('add_patient') }}">Add Patient</a></li>

        <li><a href="{{ url_for('manage_doctors') }}">Manage Doctors</a></li>
        <li><a href="{{ url_for('add_doctor') }}">Add Doctor</a></li>

        <li><a href="{{ url_for('manage_appointments') }}">Manage Appointments</a></li>
        <li><a href="{{ url_for('add_appointment') }}">Add Appointment</a></li>

        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
</body>
</html>
