<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
    <h2>Welcome Admin</h2>
    <p>Admin dashboard</p>

    <ul>
        <li><a href="{{ url_for('manage_patients') }}">Manage Patients</a></li>
        <li><a href="{{ url_for('add_patient') }}">Add New Patient</a></li>
        <li><a href="{{ url_for('manage_doctors') }}">Manage Doctors</a></li>
        <li><a href="{{ url_for('add_doctor') }}">Add New Doctor</a></li>
    </ul>

    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
